.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem;
}

.title {
  font-weight: bold;
  font-size: 2rem;
  margin-left: 1rem;
}

.titleImage {
  width: 4rem;
}

.Images {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  min-height: 10rem;
}

.Image {
  font-size: bold;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.3rem;
}

.PictureImage {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 1rem;
  transition: ease-in-out 0.05s;
  border: rgb(172, 172, 172) solid 1px;
  background-size: cover;
  background-position: center;
}

.PictureImage:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: ease-in-out 0.05s
}