.addAlbumContainer {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.title {
  font-weight: bold;
  font-size: 2rem;
  margin-right: auto;
  margin-left: 1rem;
}

.lrContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left {
  margin-right: auto;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
}

.chosenImage {
  width: 18rem;
  height: 18rem;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: rgb(244, 244, 244);
  border: rgb(237, 237, 237) solid 1px;
}

.formAdd {
  align-self: center;
}

.right {
  align-self: flex-start;
  margin-left: auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 2rem;
  margin-left: 2rem;
}

.inputTitle {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.inputComment {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.titleInput {
  padding: 1rem;
  border: rgb(237, 237, 237) solid 1px;
  border-radius: 0.6rem;
  font-weight: bold;
  width: 10rem;

}

.commentInput {
  padding: 1rem;
  border: rgb(237, 237, 237) solid 1px;
  border-radius: 0.6rem;
  font-weight: bold;
  resize: none;
  height: 11.5rem;
  width: 20rem;

}

.createAlbum {
  align-self: center;
  width: 10rem;
  padding: 1rem;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: #2196F3;
  margin-top: 2rem;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .addAlbumContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .title {
    font-weight: bold;
    font-size: 1rem;
    margin-right: auto;
    margin-left: 2rem;
  }
  
  .lrContainer {
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 100%;
  }
  
  .left {
    margin-right: auto;
    padding-left: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  
  .chosenImage {
    width: 85vw;
    height: 15rem;
    align-self: center;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    margin-bottom: 0.1rem;
    padding: 0rem;
    background-color: rgb(228, 228, 228);
    border: rgb(237, 237, 237) solid 1px;
  }
  
  .formAdd {
    align-self: center;
  }
  
  .right {
    align-self: flex-start;
    width: 100vw;
    display: flex;
    align-self: center;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .inputTitle {
    align-self: center;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    margin-top: 0.5rem;

  }
  
  .inputComment {
    align-self: center;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .titleInput {
    align-self: center;
    padding: 0.3rem;
    border: rgb(237, 237, 237) solid 1px;
    border-radius: 0.6rem;
    font-weight: bold;
    width: 10rem;
    margin-top: 1rem;
  
  }
  
  .commentInput {
    align-self: center;
    padding: 0.5rem;
    border: rgb(237, 237, 237) solid 1px;
    border-radius: 0.6rem;
    font-weight: bold;
    resize: none;
    height: 2.5rem;
    width: 20rem;
  
  }
  
  .createAlbum {
    align-self: center;
    width: 10rem;
    padding: 1rem;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: #2196F3;
    margin-top: 0rem;
    color: white;
    cursor: pointer;
  }

}
