.CategoryContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.CategoryTitle {
    display: flex;
    align-items: center;
    font-weight: bold;
}


.categoryImageSmall {
    width: 3rem;
    height: 3rem;
}

.categoryImageLarge {
    width: 4rem;
    height: 4rem;
}


.Title {
    margin-left: 0.5rem;
    font-size: 1.8rem;
}

.Albums {
    height: 15rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.Album {
    width: 11rem;
    font-size: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: ease-in-out 0.15s;
}

.Album:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: ease-in-out 0.15s;
}

.Album:hover .AlbumHeaderImage {
    border: solid 5px;
    border-color: #2196F3;
    transition: ease-in-out 0.15s;
}

.Album+.Album {
    margin-left: 1rem;
}

.AlbumHeaderImage {
    background-size: cover;
    width: 100%;
    height: 11rem;
    border-radius: 2rem;
}

.AlbumTitle {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.3rem;
}


.AlbumImageCount {
    color: rgb(158, 158, 158);
    font-weight: bold;
    font-size: 0.9rem;
}

.ViewAll {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ViewAll p {
    width: auto;
    font-weight: bold;
    font-size: 0.8rem;
    color: #2196F3;
    padding: 0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: ease-in-out 0.15s;

}

.ViewAll p:hover {
    background-color: #2196F3;
    color: white;
    transition: ease-in-out 0.15s;
}


.PictureImage {
    width: 5rem;
    height: 3.5rem;
    border-radius: 0.8rem;
    transition: ease-in-out 0.05s
}

.PictureImage:hover {
    cursor: pointer;
    border-style: inset;
    border: #2196F3 solid 3px;

    transform: scale(1.05);
    transition: ease-in-out 0.05s;
}

.Images {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    height: 10rem;
}

.Image {
    font-size: bold;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.7rem;
}

.Image+.Image {
    margin-left: 1rem;
}