.CategoryContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.CategoryTitle {
  display: flex;
  align-items: center;
  font-weight: bold;
}


.categoryImageSmall {
  width: 3rem;
  height: 3rem;
}

.categoryImageLarge {
  width: 4rem;
  height: 4rem;
}


.Title {
  font-size: 1.8rem;
}

.Albums {
  width: 100%;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(12rem, 1fr) );
  grid-gap: 2rem;
}


.Album {
  align-self: center;
  width: 12rem;
  height: 15rem;
  font-size: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.15s;
  text-decoration: none;
  background-color: rgb(250, 250, 250);
  padding: 0.7rem;
  border-radius: 1.3rem;
  -webkit-box-shadow: 0px 3px 9px 1px rgba(213, 227, 255, 0.1);
  box-shadow: 0px 3px 9px 1px rgb(195, 200, 209, 0.1);

}

.Album:hover {
  cursor: pointer;
  transform: scale(1.015);
  transition: ease-in-out 0.09s;
  -webkit-box-shadow: 0px 3px 9px 1px rgba(213, 227, 255, 0.5);
  box-shadow: 0px 3px 9px 1px rgb(195, 200, 209, 0.5);
}

.AlbumHeaderImage {
  background-size: cover;
  width: 11rem;
  height: 11rem;
  border-radius: 1rem;
  border: rgb(172, 172, 172) solid 1px;
  object-fit: cover;
  object-position: center;
}

.AlbumTitle {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
}


.AlbumImageCount {
  color: rgb(158, 158, 158);
  font-weight: bold;
  font-size: 0.9rem;
}

/*#region Rated albums -----------------------------------------------------------------*/

.RatedHeaderImage {
  background-size: cover;
  width: 11rem;
  height: 11rem;
  border-radius: 1rem;
  border: rgb(172, 172, 172) solid 1px;
  object-fit: cover;
  object-position: center;
  filter: blur(4px);
}

.RatedAlbumRating
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.RatedAlbumRating div img
{
  width: 1rem;
  filter: invert(92%) sepia(15%) saturate(6023%) hue-rotate(351deg) brightness(106%) contrast(84%);
}

.RatedAlbumRating div img:not(:last-child) 
{
  padding-right: 5px;
}

/*#endregion Rated album over --------------------------------------------------------------*/

.ViewAll {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.categoryLink {
  width: auto;
  font-weight: bold;
  font-size: 0.8rem;
  color: #2196F3;
  padding: 0.5rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: ease-in-out 0.15s;
  text-decoration: none;
  background-color: rgb(250, 250, 250);
  border-radius: 0.7rem;
  -webkit-box-shadow: 0px 3px 9px 1px rgba(213, 227, 255, 0.1);
  box-shadow: 0px 3px 9px 1px rgb(195, 200, 209, 0.1);

}

.categoryLink:hover {
  background-color: #2196F3;
  color: white;
  transition: ease-in-out 0.15s;
}


.PictureImage {
  width: 7rem;
  height: 7rem;
  border-radius: 0.8rem;
  transition: ease-in-out 0.05s;
  border: rgb(172, 172, 172) solid 1px;
  object-fit: cover;
  object-position: center;
  background-color: white;
}

.PictureImage:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: ease-in-out 0.05s;
  -webkit-box-shadow: 0px 3px 9px 1px rgba(213, 227, 255, 0.5);
  box-shadow: 0px 3px 9px 1px rgb(195, 200, 209, 0.5);
}


.Images {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.3rem, 1fr));
  grid-gap: 0.7rem;
  min-height: 10rem;
}

.Image {
  font-size: bold;
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.7rem;
  object-fit: cover;
  object-position: center;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: rgb(250, 250, 250);
  -webkit-box-shadow: 0px 3px 9px 1px rgba(213, 227, 255, 0.1);
  box-shadow: 0px 3px 9px 1px rgb(195, 200, 209, 0.1);
}

.Image:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: ease-in-out 0.05s;
  -webkit-box-shadow: 0px 3px 9px 1px rgba(213, 227, 255, 0.5);
  box-shadow: 0px 3px 9px 1px rgb(195, 200, 209, 0.5);
}

.hide{
  margin-left: auto;
}

/*Responsive design*/



@media (max-width: 750px){
  .Albums {
    
    display: grid;
    grid-template-columns: 18rem 18rem;
    grid-gap: auto;
    
  }

  .Images {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1rem;
    min-height: 10rem;
  }

  .Images div 
  {
    display: flex;
    justify-content: center;
  }

  .PictureImage {
    width: 14rem;
    height: 14rem;
    border-radius: 0.8rem;
    transition: ease-in-out 0.05s;
    border: rgb(172, 172, 172) solid 1px;
    object-fit: cover;
    object-position: center;
    background-color: white;
  }

  .Album {
    width: 100%;
    height: 100%;
    font-size: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: ease-in-out 0.15s;
    text-decoration: none;
    background-color: rgb(250, 250, 250);
    padding: 0.5rem;
    border-radius: 1.3rem;
    -webkit-box-shadow: 0px 3px 9px 1px rgba(213, 227, 255, 0.1);
    box-shadow: 0px 3px 9px 1px rgb(195, 200, 209, 0.1);
  }

  .AlbumHeaderImage {
    background-size: cover;
    width: 16rem;
    height: 16rem;
    border-radius: 1rem;
    border: rgb(172, 172, 172) solid 1px;
    object-fit: cover;
    object-position: center;
  }

  .RatedHeaderImage {
    background-size: cover;
    width: 16rem;
    height: 16rem;
    border-radius: 1rem;
    border: rgb(172, 172, 172) solid 1px;
    object-fit: cover;
    object-position: center;
    filter: blur(5px);
  }

  .hide{
    display: none;
    
  }

  .ViewAll{
    margin-bottom: 2rem;
  }

  .Title{
    padding-right: 3rem;
  }

  .Title{
    padding-right: 3rem;
  }

@media (max-width: 675px){
  .Albums {
    
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    
  }

  .Album {
    width: 100%;
    height: 100%;
    font-size: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: ease-in-out 0.15s;
    text-decoration: none;
    background-color: rgb(250, 250, 250);
    padding: 0.5rem;
    border-radius: 1.3rem;
    -webkit-box-shadow: 0px 3px 9px 1px rgba(213, 227, 255, 0.1);
    box-shadow: 0px 3px 9px 1px rgb(195, 200, 209, 0.1);
  }

  .AlbumHeaderImage {
    background-size: cover;
    width: 25rem;
    height: 25rem;
    border-radius: 1rem;
    border: rgb(172, 172, 172) solid 1px;
    object-fit: cover;
    object-position: center;
  }

  .RatedHeaderImage {
    background-size: cover;
    width: 25rem;
    height: 25rem;
    border-radius: 1rem;
    border: rgb(172, 172, 172) solid 1px;
    object-fit: cover;
    object-position: center;
    filter: blur(5px);
  }
  

  .Images {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    min-height: 10rem;
  }

  .Images div 
  {
    display: flex;
    justify-content: center;
  }

  .PictureImage {
    width: 25rem;
    height: 25rem;
    border-radius: 0.8rem;
    transition: ease-in-out 0.05s;
    border: rgb(172, 172, 172) solid 1px;
    object-fit: cover;
    object-position: center;
    background-color: white;
  }

  .hide{
    display: none;
    
  }

  .ViewAll{
    margin-bottom: 2rem;
  }

  .Title{
    padding-right: 3rem;
  }

}

/*Responsive design over---------------------------------------------------*/