.showAlbumContainer {
  background-color: #F5F5F5;
  width: 65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.top {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 6rem;
}

.title {
  font-weight: bold;
  font-size: 2rem;
  border-radius: 1rem 1rem 0rem 0rem;
  width: 100%;
  padding-left: 2rem;
  height: 6rem;
  border: none;
  outline: none;
  transition: ease-in-out 0.2s;
}

.title::placeholder {
  color: #2B2B2B;
}

.title:hover {
  cursor: pointer;
  outline: none;
  transition: ease-in-out 0.2s;
  background-color: rgb(155, 155, 155)
}

.title:focus {
  outline: none;
  color: rgba(238, 235, 235, 0.63);
  background-color: rgb(29, 29, 29);
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.comment {
  position: absolute;
  font-weight: bold;
  font-size: 0.8rem;
  color: rgb(122, 122, 122);
  bottom: 0;
  left: 0;
  margin-left: 1.8rem;
  margin-bottom: 0.4rem;
  width: 93%;
  transition: ease-in-out 0.2s;
  border: none;
  outline: none;
  padding: 0.3rem;
  background-color: transparent;
  border-radius: 0.3rem;
}

.comment:hover {
  cursor: pointer;
  background-color: #afafaf;
}

.comment:focus {
  background-color: #2B2B2B;
  color: white;
}

.comment::placeholder {
  color: #2B2B2B;
}

.formAdd {
  margin-left: auto;
  margin-right: 1rem;
  right: 0;

  position: absolute;
}

.slideshow {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(11, 11, 11);
  width: 100%;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.image {
  border-radius: 1rem;
  width: 47rem;
  height: 32rem;
  background-size: cover;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}

.image:hover {
  cursor: pointer;
}

.imageTitle {
  width: 100%;
  background-color: rgb(11, 11, 11);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.imageTitle p {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

.imageComment {
  font-weight: bold;
  margin-top: 1rem;
  width: 30rem;
  min-height: 3rem;
  font-size: 0.7rem;
  color: rgb(230, 230, 230);
}

.imageCommentContainer {
  align-self: flex-end;
  background-color: rgba(26, 26, 26, 0.554);
  width: 100%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.albumImages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(11, 11, 11);
  width: 100%;
  padding-bottom: 1rem;

}

.albumImageContainer {
  position: relative;
  margin-inline: 0.5rem
}

.check {
  position: absolute;
  width: 5rem;
  top: 0;
  left: 0;
  z-index: 20;
  background-image: url("./src/assets/plus.png");
  filter: invert(54%) sepia(73%) saturate(4223%) hue-rotate(187deg) brightness(103%) contrast(91%);

}

.albumImage {
  width: 4rem;
  height: 4rem;
  background-image: cover;
  background-position: center;
  background-size: 130%;
  background-repeat: no-repeat;
  border-radius: 0.8rem;
  border: rgb(29, 29, 29) solid 1px;
  transition: ease-in-out 0.15s;
}


.albumImage:hover {
  transform: scale(1.03);
  transition: ease-in-out 0.15s;
  border-color: #2196F3;
  cursor: pointer;
}

.albumImage+.albumImage {
  margin-left: 1rem;
}

.button {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  filter: invert(39%) sepia(75%) saturate(1519%) hue-rotate(189deg) brightness(104%) contrast(91%);
  transition: ease-in-out 0.1s;
}

.button:hover {
  transition: ease-in-out 0.1s;
  transform: scale(1.1);
}

@media (orientation: portrait) {
  .showAlbumContainer{
    width: 40rem;
  }
  .image{
    width: 30rem;
  }
}