.CategoryContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.CategoryTitle {
    display: flex;
    align-items: center;
    font-weight: bold;
}


.categoryImageSmall {
    width: 3rem;
    height: 3rem;
}

.categoryImageLarge {
    width: 4rem;
    height: 4rem;
}


.Title {
    margin-left: 0.5rem;
    font-size: 1.8rem;
}

.Albums {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.Album {
    font-size: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Album+.Album {
    margin-left: 1rem;
}

.AlbumHeaderImage {
    background-size: cover;
    width: 10rem;
    min-width: 10rem;
    min-height: 10rem;
    border-radius: 2rem;
}

.AlbumTitle {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.3rem;
}

.ViewAll {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ViewAll p {
    width: auto;
    font-weight: bold;
    color: #2196F3;
}

.PictureImage {
    width: 5rem;
    height: 3.5rem;
    border-radius: 0.8rem;

}

.Images {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(6rem, 1fr) );
}

.Image {
    font-size: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.7rem;
}

.Image+.Image {
    margin-left: 1rem;
}


