@font-face {
  font-family: 'freesansbold';
  src: url('freesansbold-webfont.woff2') format('woff2'),
       url('freesansbold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


* {
  font-family: 'freesansbold';
  margin: 0;
  padding: 0;
}